/* Réinitialisation des styles par défaut et configuration générale */

/* Conversion de la taille de police pour faciliter les calculs en REM */
html {
    font-size: 62.5%;
}

/* Styles de base pour le corps de la page */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

/* Boutons génériques */

.btn {
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    line-height: 2;
    border-radius: 2rem;
    background: rgb(46, 44, 44);
    text-transform: capitalize;
    margin-top: .5rem;
    cursor: pointer;
}

.btn:hover {
    font-weight: bold;
    color: black;
    background: #94c2dc;
}

section {
    margin-bottom: 2rem;
}





.heading h1 {
    color: #fff;
    margin: 0;
}

.heading h1 span {
    color: #000;
}

/* Styles pour l'en-tête de la page */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 121, 121);
    display: flex;
    padding: 1rem 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
}

header .navbar a.active,
header .navbar a:hover {
    background: #eee;
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: rgb(255, 121, 121);
}

header .icons i:hover,
header .icons a:hover {
    color: black;
    background: #eee;
    transform: rotate(360deg);
}

header .icons #menu {
    display: none;
}



/* Styles spécifiques pour la section d'accueil */
.home {
    position: relative;
    background: url(flower.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;


}

.home .content {
    position: absolute;
    top: 20rem;
    left: 8rem;
}

.home .content h2 {
    color: rgb(0, 0, 0);
    font-size: bolder;
    font-size: 5rem;
    margin: 0;
}


.home .content p {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    margin: 0;
    width: 35%;
    margin-bottom: 1rem;
}


/* Styles pour la section des produits */
.products {
    max-width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    background: #eee;
}

.products .heading {
    text-align: center;

}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 3rem;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.products .box-container .box {
    width: calc(33% - 1rem);
    margin-left: 1rem;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    background: #fff;
    box-shadow: .1rem solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    ;
    border-radius: .5rem;
}

.products .box-container .box:hover .image .icons {
    z-index: 1;
}


.products .box-container .box .image {
    position: relative;
}

.products .box-container .box .image img {
    position: relative;
    width: 100%;
    height: 25rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

}

.products .box-container .box .image p {
    position: absolute;
    top: 0rem;
    left: .5rem;
    font-size: 1rem;
    color: black;
    z-index: 1000;
    background: #94c2dc;
    border-radius: .1rem;
    padding: .3rem;
}

.products .box-container .box .image .icons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .3rem;
    line-height: 2.5;
    z-index: -1;
}

.products .box-container .box .image .icons i {
    font-size: 2.5rem;
    color: white;
}

.products .box-container .box .image .icons .btn {
    background: white;
    color: black;
}

.products .box-container .box .image .icons .btn:hover {
    background: #94c2dc;
}

.products .box-container .box .image .icons i:hover {
    color: #94c2dc;
}

.products .box-container .box .content {
    text-align: center;
}

.products .box-container .box .content h4 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.products .box-container .box .content .price {
    font-size: 2rem;
    color: #94c2dc;
    font-weight: bold;
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-size: 1rem;
    color: rgb(73, 73, 73)
}



/*best sellers*/

#h1 {
    text-align: center;
}

/* Styles spécifiques pour les meilleures ventes */

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.product img {
    max-width: 100%;
}

.price {
    font-weight: bold;
    color: #e44d26;
    margin-top: 10px;
}

button {
    background-color: #e44d26;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}